# Python
__pycache__/
*.pyc
.backend_venv/
backend/.venv/

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
.env.*
!.env.example
.env.local



# Docker personal overrides
compose.override.yml

# OS / Editor
.DS_Store
.vscode/

# Logs
*.log

# Claude Code
.claude/*

backend/static/


extension/dist
extension/node_modules
extension/.vscode
extension/.DS_Store
extension/.claude
extension/.env
extension/.env.local
extension/.env.*
extension/.env.example
extension/.git
extension/.github
extension/html-sample.txt
extension/icons
extension/extension.zip


.tmp


